/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.contact-section {
    padding: 50px 0;
    background: linear-gradient(145deg, lightgreen, green);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    background-color:green;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightgreen;
}

.response-message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #ff0000;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    .form-container {
        padding: 20px;
    }
}
