/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;


}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

/* Gallery Styles */
.gallery-container {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gallery-slider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  display: none;
  flex: 1;
  transition: transform 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-details {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: white;
  max-width: 80%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.room-details h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.room-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.room-details ul {
  list-style-type: none;
}

.room-details ul li {
  font-size: 14px;
  margin: 5px 0;
}

/* Slider Controls */
.slider-controls {
  position:sticky;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content:space-around;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .room-details h3 {
    font-size: 22px;
  }

  .room-details ul li {
    font-size: 12px;
  }
}