* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    color: #333;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.btn{
    display: inline-block;
    margin-top:0.5rem;
    background-color: orange;
    color: whitesmoke;
    padding:.4rem 2rem;
    cursor:pointer;
    font-size: 1.0rem;
    text-decoration: none;
}
.rooms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.room {
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.room:hover {
    transform: scale(1.05);
}

.room img {
    width: 100%;
    height: auto;
    border-bottom: 4px solid #333;
}

.room h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.room .price {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: bottom;
    width: 100%;
    bottom: 0;
}